.titulo {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.subtitulo {
    -fx-font-size: 14px;
    -fx-text-fill: #7f8c8d;
}

.card {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 12, 0, 0, 2);
}

.seccion {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.logo {
    -fx-border-color: #ccc;
    -fx-border-radius: 10;
    -fx-padding: 8;
    -fx-background-radius: 10;
}

/* Botón azul (Guardar) */
.btn-guardar {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 6;
}

.btn-guardar:hover {
    -fx-background-color: #3498db;
}

/* Botón verde (Actualizar) */
.btn-actualizar {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 6;
}

.btn-actualizar:hover {
    -fx-background-color: #2ecc71;
}

/* Botón gris (Cancelar) */
.btn-cancelar {
    -fx-background-color: #7f8c8d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 6;
}

.btn-cancelar:hover {
    -fx-background-color: #95a5a6;
}
